html,body{
    height:100%;
    margin:0px;
}


h1{
    color:red;
}

.floatLeft{
    float:left;
}

.floatRight{
    float:right;
}
.blueText{
    color:blue;
}

.redText{
    color:red;
}

.large{
    font-size:60px;
}

.noMargin{
    margin:0;
}

#wrapper{
    width:90%;
    height:100%;
    display:flex;
    flex-direction: column;
    margin:auto;
    border-right:1px solid black;
    border-left:1px solid black;
}

#top{
    height:100px;
    background:#bababa;
    border-bottom:1px solid black;
}

#main{
    background:#dadada;
    flex-grow:1;
    overflow-y:auto;
    border-bottom:1px solid black;
    padding:5px;
}

#footer{
    background:#bababa;
    height:30px;
    text-align:center;
    line-height:30px;
}

#accountOptions{
    /*background:#fafafa;*/
    height:100%;
    width:25%;
}

#accountOptions button {
    width:100%;
}